[submodule "tests/it/test_projects/common_scargo_project_stm32/third-party/stm32-cmake"]
	path = tests/it/test_projects/common_scargo_project_stm32/third-party/stm32-cmake
	url = https://github.com/ObKo/stm32-cmake.git
