{% if config.project.is_atsam() %}
if(${SCARGO_BUILD_TARGET} STREQUAL ATSAM)
  include(atsam-src.cmake)
endif()
{% endif %} {# is_atsam #}

{% if config.project.is_esp32() %}
if(${SCARGO_BUILD_TARGET} STREQUAL ESP32)
  include(esp32-src.cmake)
endif()
{% endif %} {# is_esp32 #}

{% if config.project.is_stm32() %}
if(${SCARGO_BUILD_TARGET} STREQUAL STM32)
  include(stm32-src.cmake)
endif()
{% endif %} {# is_stm32 #}

{% if config.project.is_x86() %}
if(${SCARGO_BUILD_TARGET} STREQUAL X86)
  include(x86-src.cmake)
endif()
{% endif %} {# is_x86 #}
