{% if config.project.bin_name %}
add_executable({{ config.project.bin_name|lower }})
target_sources({{ config.project.bin_name|lower }} PRIVATE ${CMAKE_CURRENT_SOURCE_DIR}/{{ config.project.bin_name|lower }}.cpp)

{% endif %}
{% if config.project.lib_name %}
target_sources(${PROJECT_NAME} PUBLIC
     ${CMAKE_CURRENT_SOURCE_DIR}/{{ config.project.lib_name|lower }}.cpp
)

{% endif %}
