#include <cstdio>
{% if project.is_atsam() %}
#include <sam.h>
{% endif %}
{% if project.is_esp32() %}
#include <freertos/FreeRTOS.h>
#include <freertos/task.h>
#include <esp_log.h>

extern "C"
{
    void app_main(void);  // NOLINT(readability-identifier-naming): name required by freertos
}

/**
 * @brief Main freeRTOS task
 *
 */
// cppcheck-suppress unusedFunction
void app_main(void)  // NOLINT(readability-identifier-naming): name required by freertos
{
    for (;;)
    {
        vTaskDelay(pdMS_TO_TICKS(50));
    }
}
{% endif %}
{% if project.is_x86() or project.is_atsam() or project.is_stm32() %}
/**
 * @brief This is example function doc
 *
 * @return int 0 if all good
 */
int main()
{
    {% if project.is_x86() %}
    printf("Hello World!\n");
    {% else %}
    while (true)
    {
    }
    {% endif %}
    return 0;
}
{% endif %}