[settings]
os=baremetal
arch=xtensalx6
compiler=gcc
compiler.version=8
compiler.cppstd={{ config.project.cxxstandard }}
compiler.libcxx=libstdc++11
build_type={{ config.profiles[profile].cmake_build_type }}

[buildenv]
EXTRA_CFLAGS={{ config.project.cflags if config.project.cflags}} {{config.profiles.get(profile).cflags if config.profiles.get(profile).cflags}}
EXTRA_CXXFLAGS={{ config.project.cxxflags if config.project.cxxflags }} {{ config.profiles.get(profile).cxxflags if config.profiles.get(profile).cxxflags }}

[conf]
tools.cmake.cmaketoolchain:user_toolchain=["/opt/esp-idf/tools/cmake/toolchain-esp32.cmake"]
tools.cmake.cmaketoolchain:generator=Ninja
