[settings]
os=baremetal
arch=armv7
compiler=gcc
compiler.version=9
compiler.libcxx=libstdc++
compiler.cppstd={{ config.project.cxxstandard }}
build_type={{ config.profiles[profile].cmake_build_type }}

[buildenv]
STM32_CHIP={{config.stm32.chip}}
STM32_TOOLCHAIN_PATH=/opt/gcc-arm-none-eabi
STM32_TARGET_TRIPLET=arm-none-eabi

[conf]
tools.build:cflags=["{{ config.project.cflags if config.project.cflags}} {{config.profiles.get(profile).cflags if config.profiles.get(profile).cflags}}"]
tools.build:cxxflags=["{{ config.project.cxxflags if config.project.cxxflags }} {{ config.profiles.get(profile).cxxflags if config.profiles.get(profile).cxxflags }}"]
{% if config.project.max_build_jobs != None %}
tools.build:jobs={{config.project.max_build_jobs}}
{% endif %}
{% set workspace_dir = config.project_root if config.project.build_env != "docker" else "/workspace" %}
tools.cmake.cmaketoolchain:user_toolchain=["{{ workspace_dir }}/config/conan/profiles/stm32_gcc_toolchain_wrapper.cmake"]
