name: Release
on:
  pull_request:
    branches:
      - main
    types: [closed]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}

jobs:
  documentation-release:
    needs: create-release
    if: ${{ github.event.pull_request.merged }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    container:
        image: spyrosoftsa/scargo-dev:1.1
        options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Generate HTML documentation
        run: ./run.py --doc
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          # Upload entire repository
          path: "./build/src_doc/html"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1

  create-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Get tag from source code
      id: source-code-tag
      run: echo "TAG_NAME=release_$(grep -w __version__ scargo/__init__.py | grep -Eo "[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+")" >> $GITHUB_ENV

    - name: Create Release
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.TAG_NAME }}
        draft: false
        prerelease: false
        generate_release_notes: true


  release-to-pypi:
    needs: create-release
    runs-on: ubuntu-latest
    container:
        image: spyrosoftsa/scargo-dev:1.1
        options: --user root
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
          fetch-depth: 0
#    - name: Set up Python environment
#      uses: actions/setup-python@v2
#      with:
#        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install flit

    - name: Build and upload to PyPI
      run: |
        git config --global --add safe.directory /__w/scargo/scargo
        flit build
        flit publish
      env:
        FLIT_USERNAME: __token__
        FLIT_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}

