name: Common workflow steps
on:
  workflow_call:
    inputs:
      config-path:
        required: false
        type: string
        
jobs:
  check:
    runs-on: ubuntu-latest
    container:
      image: spyrosoftsa/scargo-dev:1.2
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check copyright
        continue-on-error: true
        run: ./common_dev/scripts/copyrights.py -C scargo/
      - name: Check TODO
        continue-on-error: true
        run: ./common_dev/scripts/todo_check.py -C scargo -C tests
      - name: Check with Black
        run: black --check --diff scargo tests common_dev run.py clean.py
      - name: Check isort
        run: isort --profile=black --check --diff scargo tests common_dev run.py clean.py
      - name: Check Cyclomatic
        continue-on-error: true
        run: ./common_dev/scripts/cyclomatic.py
      - name: Run pylint
        run: ./common_dev/scripts/pylintchecker.py -c scargo/ -s 9.5 --exclude=tests/
  tests:
    runs-on: ubuntu-latest
    container:
      image: spyrosoftsa/scargo-dev:1.2
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Unit tests
        run: ./run.py -u
      - name: Integration tests
        run: ./run.py -t
  documentation:
    runs-on: ubuntu-latest
    container:
      image: spyrosoftsa/scargo-dev:1.2
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Generate HTML documentation
        run: ./run.py --doc
